<HTML>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>gpt2-bbc</title>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">

                <h1>gpt2-bbc</h1>
                <h3>generate bbc script related to your keyword </h3>
                <A>GitHub repository : </A> <A href="https://github.com/ha-mulan/gpt2-bbc"> gpt2-bbc repo</A>
                <br>
                <A>Open API : </A> <A href=https://master-gpt2-bbc-ha-mulan.endpoint.ainize.ai> on Ainize </A>

                <hr class="solid">

                <h2>How to use</h2>
                <div id="usage">
                    <p>1. input  keyword </p>
                    <p>2. Press the Run button and wait for about 15 seconds to get the result.</p>
                </div>


                <hr class="solid">
                <h2>Example</h2>
                <div id="usage">
                  <h5>if keyword is "trump"  you can checkout the result like this</h5>
                </div>
                <hr class="solid">
		<p>trump president told the financial times on sunday that a candidate would be chosen during the next few weeks
		</p>
		<p>
this will be a tough decision for a number of reasons he said but one of the most important factors is that the uk holds the most important presidency of the 20th century he added whoever is elected will have the first freedom of the modern era since britain abolished slavery and opened its economy to the world the election of a new president will herald a new era in how the western world sees itself and the world it is hoped will bring a more stable and sustainable era for the first time in hundreds of years
		</p><p>
this does not mean that the world should abandon its efforts to combat global poverty mr blair told the newspaper but he argued that the best chance of doing something about poverty was in africa it is true that the poorest part of the world pays the highest rate of tax as a proportion of their income but in africa it is a tenth that compares with almost 30 in the us and europe while the rich get richer the gap between the poor and the rich is now wider than at any time since the 1930s
		</p><p>
mr blair has been a leading advocate of the g8 group of countries which include the us germany france austria the jarvis and gavi countries which represent the worlds leading economic powers but he admitted it was not an easy fight particularly over the issue of debt which he said was overshadowing issues like africa the european
		</p>



                <hr class="solid">
                <h2>Make your own bbc-script </h2>
                <p>Please enter keyword below</p>
                <input id='keyword'>
                <button onclick='printName()'>RUN</button>
                <p></p>
                <script type="text/javascript">
                 function printName()  {
                   const keyword = document.getElementById('keyword').value;

                   fetch('/api/?keyword='+keyword).then(function(response){
                     response.text().then(function(text){
                       document.getElementById("result").innerText = text;
                     })
                   })
                 }
               </script>
                  <hr class="solid">
                <h2>your generated bbc-script</h2>
                  <hr class="solid">
                <div id='result'></div>

    </div>
            </div>
        </div>
    </body>
</HTML>
